/* Button Next Song */
.overlay {
  position: fixed;
  bottom: 50px;
  width: 100px;
  height: 40px; 
  border-radius: 100px;
  background-color: rgba(119, 112, 112, 0.5); 
  z-index: 1000; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color:#f8f9fa;
}

/* rain */
#Contain{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

@keyframes move{
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(50vh);
  }
}